[ng-controller="LaunchBareInstanceSecurityGroupsCtrl as ctrl"] {
  .table-rsp.security-group-details {
    background: none;

    th {
      padding-left: 15px;
    }

    td {
      background: none !important;
      padding: 15px !important;
    }

  }
}
