// Form groups

.form-group {
  margin-top: 20px;
  margin-bottom: 0;
  label, .form-group-right { float: left; }
  label, .form-group-left {
    display: table;
    width: $form-group-left-width;
    height: 30px;
    line-height: 30px;
    text-align: right;
    color: $gray-darker;
    margin-right: 18px;
    font-size: 14px;
    font-weight: normal;
    p { line-height: 16px; display: table-cell; vertical-align: middle; }
  }
  .form-group-right { width: 300px; position: relative; }
  pre { color: $kbd-color; border: 0; background-color: $kbd-bg; }
}

.form-control {
  height: 30px;
  display: inline-block;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: $padding-small-vertical;

  &:focus { box-shadow: none; }
  &.datepicker-time,&.datepicker {
    cursor: pointer;
    background-color: #fff;
  }
}

.form-control-feedback { top: 0; }

// volume and network drag
.stripWarp {
  width:100%;
  .slider{
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }
  .strip_element {
    float:left;
  }
  .slider-horiz {
    position:relative;
    top: 5px;
    float:left;
    width: 200px;
    height: 20px;
  }
  .slider-track {
    width: 100%;
    height: 8px;
    margin-top: -5px;
    background-color: #d4d4d4;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
  }
  .slider-selection {
    height:100%;
    background-color: $brand-primary;
    border-radius: 4px;
    position: absolute;
    bottom:0; top:0;
  }
  .slider-handle {
    width: 16px;
    height: 16px;
    background:url(/static/dashboard/img/drag_btn.png) no-repeat;
    position: absolute;
    left:0;
  }
  .slider-horiz .slider-handle {
    margin-left: -6px;
    margin-top: -4px;
  }
  .preview input {
    line-height: 28px;
    width: 48px;
    padding:0;
    margin: 0 0 0 8px;
    text-align: center;
  }
  .help {
    line-height: 20px;
    color: #777777;
    display: block;
    font-style: italic;
  }
  .preview {
    display: inline-block;
    font-size: 12px;
    height: 28px;
    padding: 0 0 0 5px;
    vertical-align: middle;
  }
}
.vertical-align-sub { vertical-align: sub; }
input[type="radio"], input[type="checkbox"] { margin: 8px 0 0; }

input, textarea { border: 1px #ccc solid; }

textarea { resize: none; }

pre { overflow: initial; border-radius: 0; }
