 <div class="ng-wizard" ng-form="wizardForm">
  
  	<!-- Modal-header: Simple title describing purpose of this pane. -->
	<div class="modal-header clearfix">
		<h3 class="modal-title" ng-bind="::workflow.title"></h3>
		<p class="modal-colsed" ng-click="cancel()">
		    <i class="modal-colsed-icon"></i>
		</p>
	</div>

  <div class="nav">
    <!--button class="btn nav-item"
      ng-class="{'current': currentIndex===$index}"
      ng-click="switchTo($index)"
      ng-repeat="step in workflow.navSteps"
      ng-show="viewModel.ready">
      <span ng-bind="::step.title"></span>
      <span class="status-indicator fa fa-lg fa-warning"
        ng-show="wizardForm[steps[$index].formName].$invalid"></span>
    </button-->

    <button class="btn nav-item"
      id="step_{$ $index $}"
      ng-class="{'current': currentIndex===$index}"
      ng-click="switchTo($index);"
      ng-repeat="step in steps"
      ng-show="viewModel.ready">
      <span>{$ step.title | translate $}</span>
      <span class="status-indicator fa fa-lg fa-warning"
        ng-show="wizardForm[steps[$index].formName].$invalid"></span>
    </button>

    <div class="feeWrap" ng-show="model.newInstanceSpec.flavor.id.length && instance_billing.length && showBilling" ng-if="preBilling">
      <span>{$ billingi18n.info.billing_type  $}</span>
      <select required
          id="unit"
          name="unit"
          class="form-control ml10"
          style="width: 50%;"
          ng-change="changePayment(unitSelect)"
          ng-model="unitSelect"
          ng-options="payment as payment.unitLabel for payment in payment_type">
      </select>
      <div class="form-group clearfix">
        <div ng-if="unitSelect.unit=='H'">
          <span class="orange">{$ model.newInstanceSpec.instance_count $} x {$ instancePrice $}{$ billingi18n.info.yuan $}</span>
          /{$ billingi18n.info.hour $} = <span class="f20 orange fw">{$ model.newInstanceSpec.instance_count*instancePrice | price $}{$ billingi18n.info.yuan $}</span>
          <span>/{$ billingi18n.info.hour $}</span>
        </div>
        <div ng-if="unitSelect.unit=='M'">
          <span class="orange">{$ model.newInstanceSpec.instance_count $} x {$ instancePrice $}{$ billingi18n.info.yuan $}</span>
          /{$ billingi18n.info.month $} = <span class="f20 orange fw">{$ model.newInstanceSpec.instance_count*instancePrice | price $}{$ billingi18n.info.yuan $}</span>
          <span>/{$ billingi18n.info.month $}</span>
        </div>
        <div ng-if="unitSelect.unit=='Y'" >
          <span class="orange">{$ model.newInstanceSpec.instance_count $} x {$ instancePrice $}{$ billingi18n.info.yuan $}</span>
          /{$ billingi18n.info.year $} = <span class="f20 orange fw">{$ model.newInstanceSpec.instance_count*instancePrice | price $}{$ billingi18n.info.yuan $}</span>
          <span>/{$ billingi18n.info.year $}</span>
        </div>
      </div>
    </div>
    <div class="feeWrap" ng-show="model.newInstanceSpec.flavor.id.length && instance_billing.length && showBilling" ng-if="!preBilling">
       <span class="orange">{$ model.newInstanceSpec.instance_count $} x {$ instancePrice $}{$ billingi18n.info.yuan $}</span>
       /{$ billingi18n.info.hour $} = <span class="f20 orange fw">{$ model.newInstanceSpec.instance_count*instancePrice | price $}{$ billingi18n.info.yuan $}</span>
       <span>/{$ billingi18n.info.hour $}</span> ({$ model.newInstanceSpec.instance_count*instancePrice*24*30 | price $}{$ billingi18n.info.rmb_per_month $})
    </div>
    <p class="feeWrap" ng-show="noFixing"><span class="gray_3">{$ billingi18n.info.no_active_fixing $}</span></p>
    <p class="feeWrap" ng-show="showBalance"><span class="red">{$ billingi18n.info.no_enough_balance $}</span></p>
   </div>

  <div class="step"
    ng-repeat="step in steps"
    ng-show="currentIndex===$index">
    <ng-include
      ng-form="{$ step.formName $}"
      src="step.templateUrl">
    </ng-include>
  </div>
  
  <!--div class="step">
    <ng-include
      ng-form="{$ steps[0].formName $}"
      src="steps[0].templateUrl">
    </ng-include>
  </div-->
  
  

  <div class="toolbar">
    <!--<div class="secondary-btn-grp">
      <button class="cancel btn btn-sm btn-default"
        ng-click="cancel()">
        <span ng-class="::viewModel.btnIcon.cancel||'fa fa-close'"></span>
        <span ng-bind="::viewModel.btnText.cancel"></span>
      </button>
  </div>-->

    <div class="primary-btn-grp">
      <button id="back" class="btn btn-action btn-primary"
        ng-click="switchTo(currentIndex - 1)"
        ng-hide="currentIndex===0">
        <span ng-class="::viewModel.btnIcon.back||'fa fa-chevron-left'"></span>
        <span ng-bind="::viewModel.btnText.back"></span>
      </button>

      <button id="next" class="btn btn-action btn-primary ml10"
        ng-click="switchTo(currentIndex + 1)"
        ng-hide="currentIndex===steps.length - 1">
        <span ng-bind="::viewModel.btnText.next"></span>
        <span ng-class="::viewModel.btnIcon.next||'fa fa-chevron-right'"></span>
      </button>

      <span class="separator"></span>

      <button id="finish" class="btn btn-action btn-primary"
        ng-click="viewModel.disabled || viewModel.onClickFinishBtn()"
        ng-disabled="wizardForm.$invalid || showBalance || noFixing">
        <span ng-class="::viewModel.btnIcon.finish||'fa fa-check'"></span>
        <span>{$ viewModel.btnText.finish | translate $}</span>
      </button>
    </div>
  </div>

  <div class="error-message" ng-show="viewModel.hasError" ng-bind="viewModel.errorMessage"></div>

  <help-panel>
    <ng-include src="step.helpUrl"
      ng-repeat="step in steps"
      ng-show="currentIndex===$index"></ng-include>
  </help-panel>
</div>