[ng-controller="AwsLaunchInstanceSourceController as ctrl"] {

  /*td.hi-light {
    color: #0084d1;
  }*/

  th.number,
  td.number {
    padding-right: 30px;
  }

  .selected-source {
    //background: #eee;
    //padding: 12px 18px;
    //margin-top: 20px;
    //margin-bottom: 20px;
    .row {
       margin-left: 0;
       .col-sm-12,.col-sm-8 { padding-left: 0; }
    }
    .chart {
      display: inline;
      width: 99%;
      margin-bottom: 0;
      padding: 0 10px 10px 10px;

      @media (min-width: 768px) {
        //border-left: 1px solid #ccc;
        padding-left: 20px;
      }
    }
  }

  .instance-source {
    //margin-top: 18px;
    //margin-bottom: 40px;

    .form-horizontal {
       .row {
         margin-left: 0;
         .col-sm-12,.col-sm-3 { padding-left: 0; }
       }
    }
    .image select {
      width: 99%;
    }

    .volume-size input[type="number"]{
      width: 90%;
    }
  }

  .instance-btn { margin-right: 0; }

  .image-icon { vertical-align: initial; }
  .image-name { width: 220px; }

  .form-field {
      position: relative;
      width: 126px;
      margin-bottom: 10px;
      .on-top { text-align: left; }
   }
}

.instance-wrap .instance_count { width: 100px; }
.instance-wrap .instance_count input { padding: 5px; }
.transfer-available, .transfer-allocated { margin-bottom: 0 !important; }
.content.instance-content {
  padding-bottom: 0 !important; top:20px !important;
  /*.form-field {
    position: relative;
    width: 120px;
    margin-bottom: 20px;
    .on-top { text-align: left; }
  }*/
}

.instance-wrap .fa { position: absolute; right: -20px; top: 28px; }
.instance-wrap .has-warning .form-control { border-color: #a94442; }
