<div ng-controller="LaunchInstanceSourceController as ctrl">
  <!--content-->
  <div class="content instance-content">
    <!--selected-source form-->
    <div class="selected-source clearfix mt10">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="row instance-wrap">
            <div class="col-sm-12 col-md-3">
              <div class="form-field required instance-name"
                ng-class="{ 'has-warning': launchInstanceSourceForm['instance-name'].$invalid && launchInstanceSourceForm['instance-name'].$dirty }">
                <label class="on-top">{$ ::ctrl.label.instanceName $}</label>
                <input id="instance-name" name="instance-name" type="text" class="form-control"
                       ng-model="model.newInstanceSpec.name" ng-required="true" ng-maxlength="255">
                <span class="fa fa-exclamation-triangle invalid "
                    ng-show="launchInstanceSourceForm['instance-name'].$error.maxlength && launchInstanceSourceForm.$dirty"
                    popover="{$ ctrl.instanceNameLengthErrorMessage $}"
                    popover-placement="top" popover-append-to-body="true"
                    popover-trigger="hover"></span>
                <span class="fa fa-exclamation-triangle invalid"
                    ng-show="launchInstanceSourceForm['instance-name'].$error.required && launchInstanceSourceForm.$dirty"
                    popover="{$ ctrl.instanceNameError $}"
                    popover-placement="top" popover-append-to-body="true"
                    popover-trigger="hover"></span>
              </div>
            </div>

            <div class="col-sm-12 col-md-3">
              <div class="form-field fl"
                ng-class="{ 'has-warning': launchInstanceSourceForm['instance-count'].$invalid }">
                <label class="on-top">{$ ::ctrl.label.instance_count $}</label>
                <span class="fa fa-exclamation-triangle invalid"
                    ng-show="launchInstanceSourceForm['instance-count'].$invalid"
                    popover="{$ launchInstanceSourceForm['instance-count'].$error.validateNumberMax ? ctrl.instanceCountMaxError : ctrl.instanceCountError $}"
                    popover-placement="top" popover-append-to-body="true"
                    popover-trigger="hover"></span>

                <input id="instance-count" name="instance-count" type="number" class="form-control no-input-number"
                       ng-model="model.newInstanceSpec.instance_count"
                       ng-required="true" ng-pattern="/^[0-9]+$/"
                       validate-number-min="1"
                       validate-number-max="{$ ctrl.maxInstanceCount $}">
              </div>
            </div>

            <!-- availability zone list -->
            <div class="col-sm-12 col-md-3">
              <div class="form-field availability-zone">
                <label class="on-top">{$ ::ctrl.label.availabilityZone $}</label>
                <select id="availability-zone" class="form-control"
                   ng-model="model.newInstanceSpec.availability_zone" ng-options="zone for zone in model.availabilityZones">
                </select>
              </div>
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="form-field server-group">
                    <label class="on-top">{$ ::ctrl.label.servergroup $}</label>
                    <select id="server-group" eid='server-group' class="form-control" ng-model="model.newInstanceSpec.server_group"
                            ng-options="servergroup.name for servergroup in model.servergroups">
                        <option value="">
                            {$ ctrl.label.noServerGroup $}
                        </option>
                    </select>
                </div>
            </div>

          </div>
        </div>

        <!--instance chart-->
        <div class="col-xs-12 col-sm-4">
          <div class="chart">
            <pie-chart chart-data="ctrl.instanceStats"
                       chart-settings="ctrl.chartSettings"></pie-chart>
          </div>
        </div>
        <!--end instance chart-->
      </div>
    </div>
    <!--end selected-source form-->

    <!--instance-source form-->
    <div class="instance-source clearfix">
      <div class="form-horizontal">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="form-field image"
              ng-class="{ 'has-warning': launchInstanceSourceForm['boot-source-type'].$invalid }">
              <span class="fa fa-exclamation-triangle invalid"
                    ng-show="launchInstanceSourceForm['boot-source-type'].$invalid"
                    popover="{$ ctrl.bootSourceTypeError $}"
                    popover-placement="top" popover-append-to-body="true"
                    popover-trigger="hover"></span>
              <select id="boot-source-type" name="boot-source-type" class="form-control"
                      ng-options="src.label for src in ctrl.bootSourcesOptions track by src.type"
                      ng-change="ctrl.updateBootSourceSelection(model.newInstanceSpec.source_type.type)"
                      ng-model="model.newInstanceSpec.source_type">
              </select>
            </div>
          </div>
          <div class="col-sm-12 col-md-3" ng-if="model.INSTANCE_APPOINT_HOST_JS">
              <div class="form-field select-appoint-host">
                <div class="appoint-host clearfix mt10">
                  <label class="on-top fl">{$ ::ctrl.label.appointHost $}</label>
                    <input type="checkbox"
                         id="alarm"
                         name="alarm"
                         class="checkbox"
                         ng-model="model.newInstanceSpec.selectHost">
                </div>
                <select id="availability-zone"
                        class="form-control"
                        ng-disabled = "!model.newInstanceSpec.selectHost"
                        ng-model="model.newInstanceSpec.host"
                        ng-options="host.host as host.host for host in model.hosts">
                        <option
                          value=""
                          disabled
                          ng-selected = "true">
                          {$ ::ctrl.label.selectHostOption $}
                        </option>
                </select>
              </div>
            </div>

          <!-- start image select options -->
          <!--<div class="col-xs-12 col-sm-9"
               ng-if="model.newInstanceSpec.source_type.type === 'image' &&
                      model.allowCreateVolumeFromImage">

            <div class="col-xs-12 col-sm-3">
              <div class="form-group create-volume">
                <label class="on-top">{$ ::ctrl.label.volumeCreate $}</label>
                <div class="form-field">
                  <div class="btn-group">
                    <label class="btn btn-toggle"
                      ng-repeat="option in ctrl.toggleButtonOptions"
                      ng-model="model.newInstanceSpec.vol_create"
                      btn-radio="option.value">{$ ::option.label $}</label>
                  </div>
                </div>
              </div>
            </div>

            <settings-service required-settings='["OPENSTACK_HYPERVISOR_FEATURES.can_set_mount_point"]'
              ng-if="model.newInstanceSpec.vol_create === true">
              <div class="col-xs-12 col-sm-3">
                <div class="form-field">
                  <label>{$ ::ctrl.label.volumeDeviceName $}</label>
                  <input class="form-control input-sm"
                         ng-model="model.newInstanceSpec.vol_device_name"
                         type="text">
                </div>
              </div>
            </settings-service>

            <div class="col-xs-12 col-sm-2 volume-size-wrapper" ng-if="model.newInstanceSpec.vol_create == true">
              <div class="form-field volume-size"
                ng-class="{ 'has-warning': launchInstanceSourceForm['volume-size'].$invalid }">
                <label class="on-top">{$ ::ctrl.label.volumeSize $}</label>
                <span class="fa fa-exclamation-triangle invalid"
                    ng-show="launchInstanceSourceForm['volume-size'].$invalid"
                    popover="{$ launchInstanceSourceForm['volume-size'].$error.validateNumberMin ? ctrl.minVolumeSizeError :
                    ctrl.volumeSizeError $}"
                    popover-placement="top" popover-append-to-body="true"
                    popover-trigger="hover"></span>
                <input name="volume-size" type="number"
                       class="form-control input-sm volume-size"
                       ng-model="model.newInstanceSpec.vol_size"
                       ng-pattern="/^[0-9]+$/" ng-required="true"
                       validate-number-min="{$ ctrl.minVolumeSize $}">
              </div>
            </div>

            <div class="col-xs-12 col-sm-4" ng-if="model.newInstanceSpec.vol_create == true">
              <div class="form-group delete-volume">
                <label class="on-top">{$ ::ctrl.label.deleteVolumeOnTerminate $}</label>
                <div class="form-field">
                  <div class="btn-group">
                    <label class="btn btn-toggle"
                      ng-repeat="option in ctrl.toggleButtonOptions"
                      ng-model="model.newInstanceSpec.vol_delete_on_terminate"
                      btn-radio="option.value">{$ ::option.label $}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
          <!-- end image select options -->

          <!-- start volume select options -->
          <!-- div class="col-xs-12 col-sm-9"
               ng-if="model.newInstanceSpec.source_type.type == 'volume' || model.newInstanceSpec.source_type.type == 'volume_snapshot'">
            <div class="col-xs-12 col-sm-6">

              <div class="form-group delete-volume">
                <label class="on-top">{$ ::ctrl.label.deleteVolumeOnTerminate $}</label>
                <div class="form-field">
                  <div class="btn-group">
                    <label class="btn btn-toggle"
                      ng-repeat="option in ctrl.toggleButtonOptions"
                      ng-model="model.newInstanceSpec.vol_delete_on_terminate"
                      btn-radio="option.value">{$ ::option.label $}</label>
                  </div>
                </div>
              </div>

            </div>
          </div --><!-- end volume select options -->

        </div>
      </div>
    </div>
    <!--end instance-source form-->

    <transfer-table help-text="ctrl.helpText" tr-model="ctrl.tableData">
      <allocated validate-number-min="1" ng-model="ctrl.tableData.allocated.length">
        <table id="selected-images" class="table table-bordered table-hover"
               hz-table
               hopes-table-drag
               st-safe-src="ctrl.tableData.allocated"
               st-table="ctrl.tableData.displayAllocated">

          <!-- transfer table, allocated table head -->
          <thead>
            <tr class="hidden"></tr>
            <tr>
              <th class="hidden"></th>
              <!--th class="expander"></th-->
              <th eagle-eye="data_col" ng-class="ctrl.tableHeadCells[0].classList"
                  ng-style="ctrl.tableHeadCells[0].style">
                {$ ctrl.tableHeadCells[0].text $}
              </th>
              <!--th ng-class="ctrl.tableHeadCells[1].classList"
                  ng-style="ctrl.tableHeadCells[1].style">
                {$ ctrl.tableHeadCells[1].text $}
              </th-->
              <th eagle-eye="data_col" ng-class="ctrl.tableHeadCells[2].classList"
                  ng-style="ctrl.tableHeadCells[2].style">
                {$ ctrl.tableHeadCells[2].text $}
              </th>
              <!--th ng-class="ctrl.tableHeadCells[3].classList"
                  ng-style="ctrl.tableHeadCells[3].style">
                {$ ctrl.tableHeadCells[3].text $}
              </th-->
              <th eagle-eye="data_col" ng-class="ctrl.tableHeadCells[4].classList"
                  ng-style="ctrl.tableHeadCells[4].style">
                {$ ctrl.tableHeadCells[4].text $}
              </th>
              <th class="action"></th>
            </tr>
          </thead><!-- /transfer table, allocated table head -->

          <!-- transfer table, allocated table body -->
          <tbody>

            <tr ng-if="ctrl.tableData.allocated.length === 0">
              <td colspan="{$ ctrl.tableHeadCells.length + 2 $}">
                <div class="no-rows-help">
                  {$ ::trCtrl.helpText.noneAllocText $}
                </div>
              </td>
            </tr>

            <tr ng-repeat="row in ctrl.selection">
              <!--td class="expander">
                <span class="fa fa-chevron-right"
                      hz-expand-detail
                      title="{$ ::trCtrl.helpText.expandDetailsText $}"></span>
              </td-->
              <td eagle-eye="data_col" ng-class="ctrl.tableBodyCells[0].classList"
                  ng-style="ctrl.tableBodyCells[0].style">
                  <img class="image-icon" ng-src="/static/dashboard/img/img-icon/default.png" ng-if="!row.properties.image_os">
                  <img class="image-icon" ng-src="/static/dashboard/img/img-icon/{$ row.properties.image_os $}.png" ng-if="row.properties.image_os">
                  <span class="image-name" title="{$ ctrl.tableBodyCells[0].filter ? ctrl.tableBodyCells[0].filter(row[ctrl.tableBodyCells[0].key], ctrl.tableBodyCells[0].filterArg) : row[ctrl.tableBodyCells[0].key] $}">
                  {$ ctrl.tableBodyCells[0].filter ? ctrl.tableBodyCells[0].filter(row[ctrl.tableBodyCells[0].key], ctrl.tableBodyCells[0].filterArg) : row[ctrl.tableBodyCells[0].key] $}
                  </span>
              </td>
              <!--td ng-class="ctrl.tableBodyCells[1].classList"
                  ng-style="ctrl.tableBodyCells[1].style">
                {$ ctrl.tableBodyCells[1].filter ? ctrl.tableBodyCells[1].filter(row[ctrl.tableBodyCells[1].key], ctrl.tableBodyCells[1].filterArg) : row[ctrl.tableBodyCells[1].key] $}
              </td-->
              <td eagle-eye="data_col" ng-class="ctrl.tableBodyCells[2].classList"
                  ng-style="ctrl.tableBodyCells[2].style"
                  title="{$ ctrl.tableBodyCells[2].filter ? ctrl.tableBodyCells[2].filter(row[ctrl.tableBodyCells[2].key], ctrl.tableBodyCells[2].filterArg) : row[ctrl.tableBodyCells[2].key] $}">
                {$ ctrl.tableBodyCells[2].filter ? ctrl.tableBodyCells[2].filter(row[ctrl.tableBodyCells[2].key], ctrl.tableBodyCells[2].filterArg) : row[ctrl.tableBodyCells[2].key] $}
              </td>
              <!--td ng-class="ctrl.tableBodyCells[3].classList"
                  ng-style="ctrl.tableBodyCells[3].style">
                {$ ctrl.tableBodyCells[3].filter ? ctrl.tableBodyCells[3].filter(row[ctrl.tableBodyCells[3].key], ctrl.tableBodyCells[3].filterArg) : row[ctrl.tableBodyCells[3].key] $}
              </td-->
              <td eagle-eye="data_col" ng-class="ctrl.tableBodyCells[4].classList"
                  ng-style="ctrl.tableBodyCells[4].style"
                  title="{$ ctrl.tableBodyCells[4].filter ? ctrl.tableBodyCells[4].filter(row[ctrl.tableBodyCells[4].key], ctrl.tableBodyCells[4].filterArg) : row[ctrl.tableBodyCells[4].key] $}">
                <span ng-if="model.newInstanceSpec.source_type.type === 'volume' && row.availability_zone !== model.newInstanceSpec.availability_zone"
                      class="invalid fa fa-exclamation-triangle"
                      popover="{$ ::trCtrl.helpText.volumeAZHelpText $}"
                      popover-trigger="mouseenter mouseleave"
                      popover-append-to-body="true"
                      popover-placement="top"></span>
                {$ ctrl.tableBodyCells[4].filter ? ctrl.tableBodyCells[4].filter(row[ctrl.tableBodyCells[4].key], ctrl.tableBodyCells[4].filterArg) : row[ctrl.tableBodyCells[4].key] $}
              </td>
              <td eagle-eye="button_action" class="action-col">
                <action-list class="instance-btn">
                  <action callback="trCtrl.deallocate" item="row">
                    <span class="icon remove_to"></span>
                  </action>
                </action-list>
              </td>
            </tr>
            <!--tr class="detail-row"
                ng-repeat-end
                ng-include="ctrl.sourceDetails">
            </tr-->
          </tbody><!-- /transfer table, allocated table body -->
        </table>
      </allocated>

      <available>
        <hz-magic-search-context filter-facets="ctrl.sourceFacets">
          <hz-magic-search-bar>
          </hz-magic-search-bar>
        <table id="images-list" st-table="ctrl.tableData.displayedAvailable"
               st-safe-src="ctrl.tableData.available"
               hz-table
               hopes-table-drag
               st-magic-search
               class="table table-bordered table-hover">

          <!-- transfer table, available table head -->
          <thead>
          <!-- <tr>
              <th class="search-header" colspan="{$ ctrl.tableHeadCells.length + 2 $}">
                <div class="fr search-bar">
                  <search-bar id="images-search" group-classes="" icon-classes="fa-search">
                  </search-bar>
                </div>
              </th>
            </tr>-->
            <tr class="hidden"></tr>
            <tr>
              <th class="hidden"></th>
              <!--th class="expander"></th-->
              <th eagle-eye="data_col" ng-attr-st-sort-default="{$ ctrl.tableHeadCells[0].sortDefault $}"
                  ng-class="ctrl.tableHeadCells[0].classList"
                  ng-style="ctrl.tableHeadCells[0].style"
                  st-sort="{$ ctrl.tableHeadCells[0].sortable && ctrl.tableBodyCells[0].key $}">
                {$ ctrl.tableHeadCells[0].text $}
              </th>
              <!--th ng-attr-st-sort-default="{$ ctrl.tableHeadCells[1].sortDefault $}"
                  ng-class="ctrl.tableHeadCells[1].classList"
                  ng-style="ctrl.tableHeadCells[1].style"
                  st-sort="{$ ctrl.tableHeadCells[1].sortable && ctrl.tableBodyCells[1].key $}">
                {$ ctrl.tableHeadCells[1].text $}
              </th-->
              <th eagle-eye="data_col" ng-attr-st-sort-default="{$ ctrl.tableHeadCells[2].sortDefault $}"
                  ng-class="ctrl.tableHeadCells[2].classList"
                  ng-style="ctrl.tableHeadCells[2].style"
                  st-sort="{$ ctrl.tableHeadCells[2].sortable && ctrl.tableBodyCells[2].key $}">
                {$ ctrl.tableHeadCells[2].text $}
              </th>
              <!--th ng-attr-st-sort-default="{$ ctrl.tableHeadCells[3].sortDefault $}"
                  ng-class="ctrl.tableHeadCells[3].classList"
                  ng-style="ctrl.tableHeadCells[3].style"
                  st-sort="{$ ctrl.tableHeadCells[3].sortable && ctrl.tableBodyCells[3].key $}">
                {$ ctrl.tableHeadCells[3].text $}
              </th-->
              <th eagle-eye="data_col" ng-attr-st-sort-default="{$ ctrl.tableHeadCells[4].sortDefault $}"
                  ng-class="ctrl.tableHeadCells[4].classList"
                  ng-style="ctrl.tableHeadCells[4].style"
                  st-sort="{$ ctrl.tableHeadCells[4].sortable && ctrl.tableBodyCells[4].key $}">
                {$ ctrl.tableHeadCells[4].text $}
              </th>
              <th class="action" eagle-eye="button_action"></th>
            </tr>
          </thead><!-- /transfer table, available table head -->

          <tbody>

            <tr ng-if="trCtrl.numDisplayedAvailable() === 0 && model.initialized">
              <td colspan="{$ ctrl.tableHeadCells.length + 2 $}">
                <div class="no-rows-help">
                  {$ ::trCtrl.helpText.noneAvailText $}
                </div>
              </td>
            </tr>

            <tr ng-if="!model.initialized && trCtrl.numDisplayedAvailable() === 0">
                <td colspan="{$ ctrl.tableHeadCells.length + 2 $}" class="Loading-bar"><img class="load-detail" src="/static/bootstrap/img/loading.gif" alt="" /></td>
            </tr>

            <tr ng-repeat="row in ctrl.tableData.displayedAvailable track by row.id"
                ng-if="!trCtrl.allocatedIds[row.id]">
              <!--td class="expander">
                <span class="fa fa-chevron-right"
                      hz-expand-detail
                      title="{$ ::trCtrl.helpText.expandDetailsText $}">
                </span>
              </td-->
              <td eagle-eye="data_col" ng-class="ctrl.tableBodyCells[0].classList"
                  ng-style="ctrl.tableBodyCells[0].style">
                <img class="image-icon" ng-src="/static/dashboard/img/img-icon/default.png" ng-if="!row.properties.image_os">
                <img class="image-icon" ng-src="/static/dashboard/img/img-icon/{$ row.properties.image_os $}.png" ng-if="row.properties.image_os">
                <span class="image-name" title="{$ ctrl.tableBodyCells[0].filter ? ctrl.tableBodyCells[0].filter(row[ctrl.tableBodyCells[0].key], ctrl.tableBodyCells[0].filterArg) : row[ctrl.tableBodyCells[0].key] $}">
                    {$ ctrl.tableBodyCells[0].filter ? ctrl.tableBodyCells[0].filter(row[ctrl.tableBodyCells[0].key], ctrl.tableBodyCells[0].filterArg) : row[ctrl.tableBodyCells[0].key] $}</span>
              </td>
              <!--td ng-class="ctrl.tableBodyCells[1].classList"
                  ng-style="ctrl.tableBodyCells[1].style">
                {$ ctrl.tableBodyCells[1].filter ? ctrl.tableBodyCells[1].filter(row[ctrl.tableBodyCells[1].key], ctrl.tableBodyCells[1].filterArg) : row[ctrl.tableBodyCells[1].key] $}
              </td-->
              <td eagle-eye="data_col" ng-class="ctrl.tableBodyCells[2].classList"
                  ng-style="ctrl.tableBodyCells[2].style"
                  title="{$ ctrl.tableBodyCells[2].filter ? ctrl.tableBodyCells[2].filter(row[ctrl.tableBodyCells[2].key], ctrl.tableBodyCells[2].filterArg) : row[ctrl.tableBodyCells[2].key] $}">
                {$ ctrl.tableBodyCells[2].filter ? ctrl.tableBodyCells[2].filter(row[ctrl.tableBodyCells[2].key], ctrl.tableBodyCells[2].filterArg) : row[ctrl.tableBodyCells[2].key] $}
              </td>
              <!--td ng-class="ctrl.tableBodyCells[3].classList"
                  ng-style="ctrl.tableBodyCells[3].style">
                {$ ctrl.tableBodyCells[3].filter ? ctrl.tableBodyCells[3].filter(row[ctrl.tableBodyCells[3].key], ctrl.tableBodyCells[3].filterArg) : row[ctrl.tableBodyCells[3].key] $}
              </td-->
              <td eagle-eye="data_col" ng-class="ctrl.tableBodyCells[4].classList"
                  ng-style="ctrl.tableBodyCells[4].style"
                  title="{$ ctrl.tableBodyCells[4].filter ? ctrl.tableBodyCells[4].filter(row[ctrl.tableBodyCells[4].key], ctrl.tableBodyCells[4].filterArg) : row[ctrl.tableBodyCells[4].key] $}">
                {$ ctrl.tableBodyCells[4].filter ? ctrl.tableBodyCells[4].filter(row[ctrl.tableBodyCells[4].key], ctrl.tableBodyCells[4].filterArg) : row[ctrl.tableBodyCells[4].key] $}
              </td>
              <td class="action-col" eagle-eye="button_action">
                <action-list class="instance-btn">
                  <action callback="trCtrl.allocate" item="row">
                    <span class="icon add_to"></span>
                  </action>
                </action-list>
              </td>
            </tr>
            <!--tr class="detail-row"
                ng-repeat-end
                ng-include="ctrl.sourceDetails">
            </tr-->
          </tbody>
          <tfoot ng-if="ctrl.tableData.available.length > 5">
            <tr>
              <td colspan="100">
                <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
              </td>
            </tr>
          </tfoot>
        </table>
        </hz-magic-search-context>
      </available>
    </transfer-table>

  </div>
  <!-- end content -->
</div>
