/**
 ** Author : futao
 ** Module : overview public module
 ** Data   : 2017-07-07
**/

.LiveMigrateContent {
    .migrate-radio {
        padding-left:50px;
    }
    #migrate_type1 {
        width:14px
    }
    #migrate_type2 {
        width:14px;
        margin-left:45px
    }
}