.server-group-list {
    .detail-row-name {
        width: auto !important;
        padding: 10px;
    }
    .detail-expanded {
        width: auto !important;
        overflow: auto;
    }
    .rules-list-th {
        padding: 0 8px !important;
    }
}