.floating-ip-modal-dialog {
    width: 292px;
    .visualization_property {
        font-family: "MicrosoftYaHei";
        font-size: 14px;
        color: #505050;
    }
    .title {
        height: 36px;
        background: #F7F7F8;
        line-height: 36px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        p {
            font-family: MicrosoftYaHei;
            font-size: 14px;
            color: #505050;
            letter-spacing: 2.62px;
            padding: 0 14px;
        }
        i {
            padding-right: 14px;
            font-size: 20px;
        }
    }
    .floating-ip-modal-container {
        padding: 0 14px;
        .modal-footer {
            background: transparent;
            padding: 10px 0px;
        }
        form {
            .modal-body {
                padding: 0;
                .form-group {
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    padding: 10px 0;
                    border-bottom: 1px solid #E6E6E6;
                    label {
                        overflow: hidden;
                        display: block;
                        text-align: left;
                        margin-right: 0;
                        flex: 1;
                        p {
                            padding: 0;
                            font-size: 12px;
                            color: #505050;
                            line-height: 30px;
                        }
                    }
                    .form-group-right {
                        flex: 3.5;
                        .stripWarp {
                            .strip_element {
                                .slider-horiz {
                                    width: 105px;
                                }
                                .preview {
                                    input {
                                        width: 35px;
                                        margin-left: 15px;
                                    }
                                }
                            }
                        }
                    }
                    .editicon {
                        position: absolute;
                        top: 18px;
                        right: 0;
                        z-index: 10;
                    }
                }
            }
        }
    }
}