/**
 ** Author : limeili
 ** Module : Management module css
 ** Data   : 2015-11-21
**/

// alarms module
// Author : limeili
// Date   : 2015-12-15

$btn-normal: #3399cc;
$btn-hover: #4db4e7;
$btn-active: #22729a;

.alarmContent {
  .modal-dialog { width:732px; }
  .modal-body { padding: 0px; }
  .modal-footer-fix { text-align: center; }
}

.alarm-step {
  text-align: center;
  background: #eaeaea;
  font-size: 16px;
  ul { display: inline-block; }
  li {
    float: left;
    width: 230px;
    height: 70px;
    line-height: 70px;
    @extend .gray_1;
    list-style-type:none;
    position:relative;
  }
  li.step-active {
    @extend .blue_1;
    .step-circle {
      background: #d8f1fd;
      color: $btn-normal;
      border: 2px solid $btn-normal;
      line-height: 25px;
    }
  }
  li.step-complete {
    .step-circle {
      background: $btn-normal;
      color: #fff;
      position: relative;
      top: 2px;
      span { display:none; }
      &:before { font-family:'Glyphicons Halflings'; content:"\e013"; font-weight: normal; font-style: normal; }
     }
  }
  .step-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    background: #ccc;
    color: #999;
    font-weight: bold;
    margin-right: 10px;
  }
  .step-title {
    margin-top: -42px;
    color: #666;
    font-size: 14px;
  }
  .step-line {
    width: 170px;
    height: 2px;
    border-top: 3px dotted #ccc;
    position: absolute;
    left: 145px;
    top: 32px;
  }
  .step-line-solid { border-top: 3px solid $btn-normal; }
}

.alarm-content {
  width: 730px;
  height: 510px;
  overflow: hidden;
  position: relative;
  .form-group { margin-top: 0px; }
  .monitor-name { display: block; width: 244px; }
  .edit-monitor-name { display: block; width:300px; }
  .alarm-list {
    width: 2200px;
    position: absolute;
    top: 0;
    left: 0px;
    .alarm-list-main {
      float: left;
      width: 730px;
    }
   }

  .title-wrap {
    font-size: 16px;
    @extend .black;
    .question-circle:before {
      font-family: 'FontAwesome';
      content: "\f059";
      font-weight: normal;
      font-style: normal;
      position: relative;
      left: 20px;
      color: #464545;
    }
  }
}

.alarm-select-content { margin: 20px 20px 0 20px; }
.alarm-select-wrap {
  height: 365px;
  padding-top: 10px;
  .alarm-tab {
    height: 30px;
    margin: 15px 20px;
  }
}

/*alarms one*/
.alarm-tab {
  ul {
    li {
      &:hover { color:$btn-normal; }
      &.active { background-color: $btn-primary-bg; color:#fff; border:none; }
    }
    li:first-child { border-bottom-right-radius: 0; border-top-right-radius: 0; }
    li:last-child { border-bottom-left-radius: 0; border-top-left-radius: 0; }
  }
}

.alarm-list-main .alarm-contacts-table .table-rsp tbody tr td{ padding: 10px; }
.filter-btn { height: 30px; line-height: 30px; padding: 0 20px; color: #ccc; cursor: pointer; border: 1px solid #ccc; border-radius: 2px;}

.selected-data-table {
  thead {
    tr th {
      border: 0; border-bottom: 1px #f4f4f4 solid;
      &:last-child { border-right: 1px #f4f4f4 solid; }
    }
  }
}
.alarm-table {
  margin-bottom: 12px;
  thead tr {
   display:block;
   th {
     border: 0;
     border-bottom: 1px #f4f4f4 solid;
   }
  }
  .table-tbody {
    display: block;
    height: 140px;
    overflow-y: scroll;
    td {
      max-width: none;
      border-right: 0;
      border-top: 0;
    }
  }
  .monitor-desc { width: 152px; }
}


/*alarms two*/
.alarm-select-list { height: 273px; }
.unit-s { position: relative; top: 5px; left: 5px; }
.unit-s-tips { position: absolute; top: 0; width: 105px; }
.resource-left { width: 230px;  margin-left: 20px; }
.resource-left tr td:first-child, .resource-right tr td:first-child { text-align: right; }
.resource-left input, .resource-left textarea { width: 150px; }
.resource-left table{ background-color: transparent; }
.resource-left textarea.form-control { height: 80px; }
.resource-left{
  .error-info{
     color: $state-danger-text
  };
}
.resource-right { width: 420px;  margin-right: 20px; }
.resource-right table { border-left: 1px solid #e2e2e2; background-color: transparent; }
.resource-right input, textarea { color: #6A788D; display: inline-block; font-size: 14px; line-height: 16px; padding: 6px; vertical-align: middle; border: 1px solid #CED1D3; }
.resource-right input, .resource-right select { padding-left: 5px; width: 80px; height:30px; }

/*alarms three*/
.alarm-contacts {
  height: 418px;
  .table-rsp { border-collapse: separate; border-spacing: 0px 0.5em; width: 100%; }
  .table-rsp tbody tr td {
    background-color: #FFF;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    position: relative;
    white-space: nowrap;
  }
  .table-rsp tbody tr td:first-child { border-left: 1px solid #DDD; }
  .table-rsp tbody tr td:last-child { border-right: 1px solid #DDD; }
  .table-rsp thead .bare { padding: 0; }

  .regular-radio, .regular-checkbox { position:relative; top:3px; }
  .alarm-contacts-s1 { width: 160px; display: table-cell; }
  .alarm-contacts-s2 {
    width: 253px;
    position: relative;
    top: 3px;
  }
  .alarm-contacts-table {
    .send-msm, .show-send-sms {
      tbody tr td{
        padding: 10px 5px;
        &:first-child{ padding: 10px 5px 10px 10px;}
      }
      .alarm-contacts-s2 {
        width: 110px;
        position: relative;
        top:3px;
        left: -6px;
      }
    }
  }
  .send-msm {
    .alarm-resources-state { width: 120px; }
     input {
        position : relative;
        top : -1px;
      }
      span {
        position : relative;
        top : -4px;
      }

    .select-send-method {
      background: #ccc;
      opacity: 0.5;
      .add_to {
        &:hover { background-position: 0 -228px; }
        &:active { background-position: 0 -228px; }
      }
    }
    .select-send-method:hover {
      background-position: 0 -228px;
    }
  }
  .show-send-sms {
    .notice-state { width : 135px; }
    .notice-name { width : 122px; }
    .notify { width : 45px; }
    .send-sms { padding-left : 5px; }
    .send-email {
      width : 78px;
      padding-right : 5px;
    }
    .sign {
      position : relative;
      left : 26px;
    }
    .send-email, .send-sms{
      span{
        position: relative;
        top: -3px;
      }
    }
  }
}

.alarm-contacts-table { margin: 20px; }
.alarm-resources-state { width: 150px; }

/*alarms noticeListContent*/
.noticeListContent{
  .modal-dialog { width: 460px; }
  .modal-content { background-color: #eceff1; }
  .notice-user-wrap { margin: 40px 0 0 20px; }
  .notice-list-name { display: inline-block; min-width: 90px; margin-right: 20px; text-align: right; }
  .notice-contact-wrap { line-height: 30px; margin: 20px 0 20px 20px; }
  .notice-contact-wrap ul { width: 275px; margin-left: 3px; width: 273px; }
  .notice-contact-wrap ul li { margin-bottom: 3px; }
  .notice-contact-wrap .addContact {
     margin-left: 3px;
   }
  .input-size { display: inline-block; width: 273px; }
  .device-input-size { display: inline-block; width: 123px; margin-top: -3px; }
  .describe-input-size { display: inline-block; width: 81px; margin-top: -3px; }
  .notice-tips { margin-left:112px; }
  .notice-list{ margin-left:200px; }
}

/**
 ** Author : zhaoyongsheng
 ** Module : Billing Module css
 ** Data   : 2015-12-02
**/

/* All billing */
.billing-info { margin: 15px 40px 0 0; }
.billing-info-tips { margin: 10px 40px 0 0; }

// Author  : xinwei
// Module  : Global management billing management
// Data    : 2016-01-13
.switch-color-no {
  .yes { color: #ccc; cursor: pointer; }
  .no { color: #3399cc; }
}
.switch-color-yes {
  .yes { color: #3399cc; }
  .no { color: #ccc; cursor:pointer; }
}
.input-tran { padding-left: 0; border: 0; background: 0; }
.billing-write-description { width: 100%; }
.action-lattice {
  button { margin-right: 10px; border-bottom-left-radius: 2px!important; border-top-left-radius: 2px!important; }
}
.billingArrow {
  height: 16px;
  cursor: pointer;
  border-bottom: 2px solid #f4f4f4;
  background: url('/static/dashboard/img/billingArrow-up.png') center bottom no-repeat;
}
.input-width { width: 66px; }
.input-edit-with { width: 40px; }
.price-icon {
  position:relative;
  top:4px;
  margin-left: 5px;
  display:inline-block;
  width:15px;
  height:15px;
  vertical-align:middle;
  background:url(/static/bootstrap/img/price-icon.png) no-repeat;
  background-position: 0 0;
}
.price-icon-active{
  background-position: 0 -37px;
}
.price-insert {
  visibility: hidden;
  margin-top: -20px;
  .btn {
    padding: 0 6px;
  }
}
.price-insert em { padding: 0 2px; }
.price-insert span { cursor: pointer; }

.horizontal-button-group {
  li {
    float: left;
    background:#fff;
    border:1px solid #ccc;
    border-right: 0;
    border-radius:0;

    &:first-child {
      border-radius: $border-radius-base 0 0 $border-radius-base;
    }
    &:last-child {
      border-right:1px solid #ccc;
      border-radius: 0 $border-radius-base $border-radius-base 0;
    }
    &:hover, &.active {
      color: #fff;
      background: $btn-primary-bg;
      border-color: $btn-primary-bg;
      box-shadow: none;
      & + li {
        border-left-color: $btn-primary-bg;
      }
    }
  }
}


// Author  : zhaoyongsheng
// Module  : the style for recharge
// Data    : 2015-12-02

/*tab of billing recharge starts*/
.pay-recharge { margin-top: 44px; }
.accoun-box-conten {
  font-size: 14px;
  margin: 15px 5px -5px -10px;
  .none { display: none; }
  .tooltip { top: -34px; right: 50px; }
  .tooltip.top .tooltip-arrow { border-top-color: #ff0010!important; }
  .tooltip .tooltip-inner { background-color: #ff0010; border-radius: initial; }
  .recharge-box{
    margin: 20px 0 0 0;
  }
  .accoun-box-left {
    padding-right: 0;
    .account-pay-box {
      background: #fff;
      border: 1px solid #ccc;
      margin-bottom: 10px;
      padding: 20px 20px 80px;
      label {
        width: 100px;
        color:black;
        font-weight: normal;
        margin-right: 20px;
        text-align: right;
      }
      .paybtn {
        letter-spacing: 0;
        background: #288ae3 none repeat scroll 0 0;
        color: rgb(255,255,255);
        border: 0 none;
        cursor: pointer;
        display: inline;
        float: left;
        font-size: 15px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        width: 164px;
      }
      button[disabled] {
        background: #999;
      }
      .pay-recharge-wrap {
        position: relative;
      }
      .pay-way {
        line-height: 42px;
      }
    }
  }
  .pay-way .payactive i { background-position: 0 0; }
  .pay-way li { cursor: pointer; display: inline; float: left; height: 30px; margin-right: 18px;
    i {
      background-image: url("/static/bootstrap/img/radio-pg.png");
      background-position: 0 -28px;
      background-repeat: no-repeat;
      display: inline-block;
      height: 12px;
      margin-right: 5px;
      width: 12px;
    }
  }
  .pay-money { margin-top: 40px; }
  .pay-money ol {
    display: block;
    li{
      border:1px solid #ccc;
      color: #666666;
      cursor: pointer;
      display: inline;
      float: left;
      font-size: 16px;
      height: 90px;
      line-height: 90px;
      margin-right: 18px;
      margin-bottom: 10px;
      text-align: center;
      width: 110px;
    }
    .moneyactive { background:url("/static/bootstrap/img/pay-icon.png") no-repeat scroll right bottom; border: 2px solid #6c6; }
  }
  .pay-recharge input {
    color: #6a788d;
    display: inline-block;
    line-height: 16px;
    padding: 6px;
    vertical-align: middle;
  }

  .pay-recharge input + p {
    padding-left: 120px;
  }
  .accoun-box-right {
      padding-right: 0;
      .account-name { font-weight: normal; }
      .account-information { font-size:16px; }
      .account-head-box {
        margin-bottom: 10px;
        border: 1px solid #ccc;
        padding: 20px;
        background: #fff;
        .account-user-con {
          label { font-weight:normal; color: rgb(0,0,0); }
          span { color:rgb(111,119,142); }
          strong { color: #069; }
          .brlance-color { color: #ff9933; }
        }
        p {
          height: 36px;
          line-height: 36px;
          span { padding-left: 10px; }
        }
      }
      .accoun-record-box {
        border:1px solid #ccc; margin-bottom:30px; background:#fff;
        h3{ height:58px; line-height:58px; text-indent:10px; color:#000000; font-size:14px; border-bottom: 1px solid #ccc;}
        ul {
            padding:10px; max-height:428px; overflow-y:auto; font-size:12px;
            li {
                overflow:hidden;
                padding:4px 8px 4px 26px;
                background:url(/static/bootstrap/img/accoun-record-box-line.png) 0 -46px no-repeat;
                &:first-child { background-position:0px 0px; }
                &:last-child { background-position:0px -95px; }
                div{
                    border:1px solid #ccc;
                    padding:12px;
                    &:hover { background-color:#f9f9f9; }
                }
                span { display:inline; float:left; color:#999; width: 27%; word-wrap:break-word; }
                strong { display:inline; float: left; margin-left:3%; color:#3399cc; text-align:left; }
            }

        }
      }
  }
}
/*tab of billing recharge end*/

/*billing project detail starts*/
.projectBillingDetail .modal-dialog { width:700px; }
/*billing project detail end*/

// Author : zhaoyongsheng
// Module : the style for Billing Info
// Data   : 2015-12-02

/*tab of billing Info starts*/
.billing-project { width: 260px; font-size: 12px; color:#666; text-align:center; }
.totalPay-color { color: #f93 !important; }
.considering-tab{
    overflow:hidden; margin-bottom:20px; font-size:14px;
    .instance { background-position: 0px 0px; width: 20px; }
    .router { background-position: 0px -27px; width: 19px; }
    .volume { background-position: 0px -49px; width: 20px; }
    .image { background-position: 0px -73px; width:17px; }
    .floatingip { background-position: 0px -97px; width: 18px; }
    .snapshot { background-position: 0px -121px; width:16px; }
    li{
        display:inline; float:left; width:150px; height:100px; padding:13px 0; cursor:pointer; text-align:center; border:1px solid #ccc; margin-right:-1px; background:#fff;
        span { display:block; color: #000; }
    }
    .considering-tab-title { height:20px; }
    .considering-tab-title-line { height:44px; line-height:44px; }
    .considering-tab-con, .considering-tab-con-2{
        height:28px; line-height:28px;
        em { font-style: normal;}
    }
    .moneyactive{
        border:1px solid #ff9933;
        margin-right: 0px;
        .instance { background-position: -24px 0px; }
        .router { background-position: -25px -28px; }
        .volume { background-position: -24px -49px; }
        .image { background-position: -24px -73px; }
        .floatingip { background-position: -24px -97px; }
        .snapshot { background-position: -24px -121px; }
    }
    i.icon {
      width: 24px;
      height: 24px;
      margin: 0px auto;
      background-image: url("/static/dashboard/img/billing-icon.png");
    }
}
.select-width {width: 265px}
.considering-tab-billing{
    overflow:hidden; margin-bottom:20px; font-size:14px;width: calc(100% - 265);
    li{
        display:inline; float:left; width:150px; height:100px; padding:13px 0; cursor:pointer; text-align:center; border:1px solid #ccc;  background:#fff;margin-right: -1px;margin-bottom: 5px;position: relative;
        span { display:block; color: #000; }
    }
    li:last-child{border-right:1px solid #ccc;}
    .considering-tab-title { height:20px; }
    .considering-tab-title-line { height:44px; line-height:44px; }
    .considering-tab-con, .considering-tab-con-2{
        height:28px; line-height:28px;
        em { font-style: normal;}
    }
    .moneyactive{
        border-color:#ff9933 !important;
    }
    .nextBorderActive{border-left-color:#ff9933 !important; }
    i.icon {
      width: 24px;
      height: 24px;
      margin: 0px auto;
      background-image: url("/static/dashboard/img/billing-icon.png");
    }
}
/*tab of billing Info end*/

/* operation logs start */
.query {
    margin-top: 10px;
    margin-bottom: 10px;
}
.query-border {
    border-right: none;
    border-left: none;
}
.query-area {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.query-block {
    padding: 0;
    position: absolute;
    top: 0;
    min-width:825px;
    max-width:825px;
}
.query-line {
    margin-top: 38px;
}
.query-label {
    text-align: left !important;
}
.table-bordered tbody tr .query-left {
    padding-left: 20px;
}
.table-bordered thead tr .query-left {
    padding-left: 20px;
}
.table-bordered tfoot tr .query-left {
    padding-left: 20px;
}
.query-padding {
    padding-left: 0;
    padding-right: 10px;
    a {
      margin-left: 6px;
    }
}
.item-wrapper .query-btn {
    outline: 0 none;
}
.operationlog-query-block{
  .btn-primary{
    padding: 0 10px;;
  }
  .col-md-5{
    width: 30%;
  }
  .col-md-2{
    width: 13%;
  }
  a:hover{
    text-decoration: none;
  }
}
/* ceilometer logs end */
