.public-network-modal-dialog {
  width: 292px;
  .visualization_property {
    font-family: "MicrosoftYaHei";
    font-size: 14px;
    color: #505050;
  }
  .title {
    height: 36px;
    background: #F7F7F8;
    line-height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    p {
      font-family: MicrosoftYaHei;
      font-size: 14px;
      color: #505050;
      letter-spacing: 2.62px;
      padding: 0 14px;
    }
    i {
      padding-right: 14px;
      font-size: 20px;
    }
  }
  form {
    .modal-body {
      padding: 0 14px 5px;
      .form-group {
        margin: 0;
        display: flex;
        flex-direction: row;
        padding: 12px 0px;
        border-bottom: 1px solid #E6E6E6;
        label[for="name"] {
          width: 88px;
          overflow: hidden;
          display: block;
          text-align: left;
          margin-right: 0;
          p {
            font-size: 12px;
            color: #505050;
            line-height: 30px;
          }
        }
        .form-group-right {
          width: 176px;
          input[name="networkName"] {
            border: none;
          }
        }
      }
    }
  }
}