  <hz-magic-search-context filter-facets="gridApi.options.filterFacets" style="display:block;padding:20px;">
    <!--
        Hz-table start here,like hz-table.
      -->
    <table id="table-row"
           hz-table
           ng-cloak
           hopes-table-drag
           st-table="gridApi.grid.rows"
           st-safe-src="gridApi.grid.data"
           default-sort="gridApi.options.defaultSort"
           default-sort-reverse="gridApi.options.defaultSortRevers"
           ng-init="userID = '{{ request.user.id }}'"
           disabled="disabled"
           st-magic-search
           class="table table-bordered table-hover {$gridApi.options.showHeader?'':'noHeader'$}"
    >

      <thead>
      <!--
        Table-batch-actions:
        This is where batch actions like searching, creating, and deleting.
      -->
      <tr ng-if="gridApi.options.showHeader">
        <th colspan="100" class="bare">
          <div class="table_actions clearfix">
            <span ng-transclude></span>
            <div ng-if="gridApi.options.showSearchBar" class="fr search-bar">
              <hz-magic-search-bar id="search" eid="search">

              </hz-magic-search-bar>
            </div>
          </div>
        </th>
      </tr>
      <!--
        Table-column-headers:
        This is where we declaratively define the table column headers.
        Include the select all checkbox if you want to enable select all
        for performing batch actions.
      -->
      <tr eagle-eye="table_heads">
        <th ng-if="gridApi.options.selectble" class="select-col" eagle-eye="select_col">
          <input type="checkbox"
                 hz-select-page="{$gridApi.options.id$}"
                 ng-model="selectedAllInstance"
          />
          <!--ng-model="gridApi.grid.selection.selectAll"-->
        </th>
        <th ng-repeat="col in gridApi.options.columnDefs" style="width:{$col.width||'auto'$}">
          <span st-sort="{$'entity.'+(col.field||col.name)$}" eagle-eye="data_col">{$ col.name $}</span>
        </th>
      </tr>
      </thead>

      <tbody>

      <tr ng-if="loading">
        <td colspan="100" class="Loading-bar">
          <img class="load-detail" src="/static/bootstrap/img/loading.gif" alt=""/>
        </td>
      </tr>

      <tr ng-if="gridApi.options.data.length==0 && !loading" eagle-eye="empty_table">
        <td colspan="100">no data</td>
      </tr>

      <tr ng-if="gridApi.options.rowTemplate"
          compile="gridApi.options.rowTemplate"
          replace
      >
      </tr>


      <!--Default row template-->
      <tr ng-if="!gridApi.options.rowTemplate && !loading" ng-repeat-start="row in gridApi.grid.rows" ng-class="{'st-selected': hasSelected(row)}">
        <td hz-grid-select></td>
        <td hz-grid-cell></td>
      </tr>
      <tr ng-if="!gridApi.options.rowTemplate && !loading" ng-repeat-end compile="gridApi.options.subRowTemplate">

      </tr>



      </tbody>
      <tfoot ng-if="gridApi.options.data.length > 10">
      <tr>
        <td colspan="100" eagle-eye="data_page">
          <table-footer></table-footer>
        </td>
      </tr>
      </tfoot>
    </table>
  </hz-magic-search-context>
