<div class="stripWarp clearfix">
    <div class="strip_element">
        <div class="slider-horiz">
            <div class="slider-track js-drag-wrap">
                <div class="slider-selection js-seleced-bg"></div>
                <div class="slider-handle js-drag-btn"></div>
            </div>
       </div>
       <span class="preview"><input class="form-control js-drag-input" type="text" ng-model="selectedVal" eid="percent-num"/> {$ getValue.unit $}</span>
       <p class="help" ng-if="!getValue.prompt && getValue.min !== getValue.max">{$ getValue.defVal > getValue.min ? getValue.defVal : getValue.min $}{$ getValue.unit $} - {$ getValue.max $}{$ getValue.unit $}</p>
       <p class="help" ng-if="!getValue.prompt && getValue.min === getValue.max">{$ getValue.max $}{$ getValue.unit $}</p>
   </div>
</div>
