// table detail
[hz-table] {
  .row-name {
    float: left;
    display: inline-block;
    width: calc(100% - 30px);
    position: relative;
    top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .chevron-fixed {}
  .detail-row td {
    display: none;
    .detail-expanded {
      width: 93%;
      display: none;
      overflow: hidden;
      background: #fff;
      padding: 10px;
      border: 1px #eaeaea solid;
      margin: 10px auto;
      .width-45-percent{
        width: 45% !important;
        }
      .width-10-percent {
        width: 10% !important;
        }
      pre {
        color: $kbd-color;
        border: 0;
        border-radius: 0;
        background-color: $kbd-bg;
      }
      .table { margin-bottom: 0; }
    }
    .dl-horizontal {
      dt { width: 15%; padding-right: 10px; font-weight: normal; }
      dd { float: right; width: 85%; margin-left: 0; }
    }
  }
  .detail {
    padding: 0;
  }
  .detail-row-name,.detail {
    border: 0;
    background: $table-detail-bg !important;
  }
  .detail-row-name {
    width: 7%;
    text-align: right;
    padding: 10px 10px 0 0;
  }

  .detail.detail-extend .detail-expanded {
    width: 100%;
    border: none;
    background: none;
    margin: 0;
    padding-bottom: 0;
  }
  .expanded + tr td {
    display: table-cell;
  }
}

// table
.table .table {
  background: none;
}
.table-bordered {
  border:0;
  //.bare { border-top: 1px #f4f4f4 solid !important; }
  thead tr {
    th {
      position: relative;
      font-size: 14px;
      font-weight: normal;
      border-bottom-width: 0;
      color: $gray-darker;
      height: 38px;
      padding: 0 8px;
      vertical-align: middle;
    }
    &:first-child th {
      padding: 0;
      border: none;
    }
    &:last-child {
      background: $table-thead-bg;
    }
  }
  tbody tr td,
  tfoot tr td {
    height: 38px;
    padding: 0 8px;
    vertical-align: middle;
  }
  tbody tr td {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  tfoot tr td {
    height: 58px;
  }
  .select-col {
    max-width: 2.5em;
    text-align: center;
    width: 2.5em;
  }
  .Loading-bar {
    text-align: center;
  }
  .table_actions {
    padding: 0 0 10px 0;
  }
  .table_actions_container {
    padding: 10px;
  }
  [st-sort] {
    cursor: pointer;
    &:after {
      color: #d4d4d4;
      content: '\f0dc';
      font-family: 'FontAwesome';
      margin-left: 0.5em;
      opacity: 0;
    }

    &:not(.st-sort-ascent):hover:after, &:not(.st-sort-descent):hover:after {
      opacity: 1;
    }
  }

  .st-sort-ascent:after {
    color: #000;
    content: '\f0de';
    font-family: 'FontAwesome';
    margin-left: 0.5em;
    opacity: 1;
  }

  .st-sort-descent:after {
    color: #000;
    content: '\f0dd';
    font-family: 'FontAwesome';
    margin-left: 0.5em;
    opacity: 1;
  }
  // Drag the table
  .hopesBrother {
    display: inline-block;
    width: 8px;
    height: 38px;
    cursor: w-resize;
    position: absolute;
    right: 0;
    top: 0;
  }
  &[hopes-table-drag='']{
    td {
      max-width: 10px;
    }
    .no-max-width {
      max-width: none;
    }
  }
}

// pages
.pagination { display: block; margin: 0; }
.pagination > li > a, .pagination > li > span { cursor: pointer; }

// footer
.select-page {
    position : relative;
    top : 5px;
    select {
        font-size : 12px;
        color : #555;
        background-color : #fff;
        border: 1px solid #ccc;
        border-radius : 2px;
        outline : none;
        padding : 2px;
    }
    select:active {
        border : 1px solid #60c0af;
    }
}
